@font-face {
  font-family: 'Marion';
  src: url('fonts/Marion.ttc')  format('truetype');
  font-weight: normal;
}

html { 
  background-color: #429ab5;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Marion', Helvetica Neue, Helvetica, sans-serif;
  color: #fff;
  -webkit-animation:fadein 1s;
}

.centered {
	position: absolute;
	height: 127px;
	width: 168px;
	top: 50%;
	left: 50%;
	margin: -120px 0 0 -84px;
}

#bird {
	margin: 0 0 0 30px;
	position: relative;
}

#label {
	width: 165px;
	margin: 20px 0 0 0;
	font-size: 2em;
	text-align: center;
	position: relative;
	display: inline-block;
}

-webkit-animation: fade-in ease;
@-webkit-keyframes fadein {
from {
  opacity:0;
}
to {
  opacity:1;
}
}